@import "tailwindcss";
/* index.css or main.css */

/* @tailwind base;
@tailwind components; */
@tailwind utilities;

/* Any other global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.custom-gradient-button {
    background-color: #5cb85c;
    background-image: linear-gradient(to bottom, #69d469 0%, #5cb85c 100%);
    border: 1px solid #4cae4c;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.custom-gradient-button:hover {
    background-image: linear-gradient(to bottom, #5cb85c 0%, #4cae4c 100%);
}


body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}





.refresh-banner {
  position: fixed;
  bottom: 0;
  /*background: #222;*/
  color: black;
  padding: 10px;
  width: 100%;
  text-align: center;
  z-index: 999;
}
.refresh-banner button {
  background: #00c853;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}