@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}


@keyframes pop {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-pop {
  animation: pop 0.25s ease-out;
}





.refresh-banner {
  position: fixed;
  bottom: 0;
  /*background: #222;*/
  color: black;
  padding: 10px;
  width: 100%;
  text-align: center;
  z-index: 999;
}
.refresh-banner button {
  background: #00c853;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}